<table class="tabela">
    <tbody>
    <thead class="tabela_cabecalho">
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Conta Destino</th>
    </thead>

       <tr class="tabela__linha"*ngFor="let tranferencia of transferencias">
        <td class="tabela__conteudo">{{ tranferencia.data | date: "short"}}</td>
        <td class="tabela__conteudo">{{ tranferencia.value | currency }}</td>
        <td class="tabela__conteudo">{{ tranferencia.conta }}</td>
       </tr>
    </tbody>
</table>

<ng-template #listaVazia>
   <p> Nenhuma operação cadastrada</p>
</ng-template>


