<h4 class="text-center"> Login </h4>
<form [formGroup]="loginForm">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 input-field" [class.error]="loginForm.controls['numeroDaConta'].dirty && loginForm.hasError('required', 'numeroDaConta')">
            <input class="form-control" placeholder="Número da Conta" formControlName="numeroDaConta" name="numeroDaConta"/>
            <small *ngIf="loginForm.controls['numeroDaConta'].dirty && loginForm.hasError('required', 'numeroDaConta')" class="text-danger">*Número da Conta é necessario</small>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-2 input-field" [class.error]="loginForm.controls['senhaDoCaixa'].dirty && loginForm.hasError('required', 'senhaDoCaixa')">
            <input type="password" class="form-control" placeholder="Senha do Caixa" formControlName="senhaDoCaixa" name="senhaDoCaixa" required />
            <small *ngIf="loginForm.controls['senhaDoCaixa'].dirty && loginForm.hasError('required', 'senhaDoCaixa')" class="text-danger">*Senha de Caixa é necessario</small>
        </div>
    </div>
    
    <div class="row mt-2 text-center">
        
        <div class="col-md-12">
            <button (click)="onSubmit()"  type="submit" class="btn btn-primary">
                Logar
            </button>&nbsp;
            <button [routerLink]="['newaccount']" class="btn btn-primary" >
                Novo aqui, cadastre-se!
            </button>
        </div>
    </div>

</form>