<h4 class="text-center"> Login </h4>
    <form class="form mt-4" (ngSubmit)="login()">
        <div class="form-group">
            <input class="form-control" placeholder="Número da Conta" 
            [(ngModel)]="contaNumber" name="contaUser"/>    
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha do Caixa" 
            [(ngModel)]="password" name="password"/>
        </div>
    
    <button type="submit" class="btn btn-primary btn-block">Logar</button>
    <button type="submit" class="btn btn-primary btn-block">Criar uma Conta</button>
</form>