<h4 class="text-center"> Entre Para MuBank </h4>


<form [formGroup]="newAccountForm" (submit)="register()">
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-2">
        <input type="text" placeholder="Nome Completo" class="form-control" formControlName="nomeDoCliente">
        <app-mensagem 
        *ngIf="newAccountForm.get('nomeDoCliente')?.errors &&
        newAccountForm.get('nomeDoCliente')?.touched"
        aviso="Nome é obrigatorio">
    </app-mensagem>
    </div>
   </div>   

    <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-4 mt-2">
            <input type="text" placeholder="E-mail" class="form-control" formControlName="email"/>
            <app-mensagem 
            *ngIf="newAccountForm.get('email')?.errors &&
            newAccountForm.get('email')?.touched"
            aviso="E-mail é obrigatorio">
        </app-mensagem>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="class col-md-4 mt-2">
            <div class="form-group">
                <input type="password" placeholder="Senha" class="form-control" formControlName="senhaDoCaixa"/>
                <app-mensagem 
                *ngIf="newAccountForm.get('senhaDoCaixa')?.errors &&
                newAccountForm.get('senhaDoCaixa')?.touched"
                aviso="Senha é obrigatorio">
            </app-mensagem>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-2">
            <div class="form-group">
                <input type="password" placeholder="Confirmação de Senha" class="form-control" formControlName="senhaDoCaixa"/>
                <app-mensagem 
                *ngIf="newAccountForm.get('senhaDoCaixa')?.errors &&
                newAccountForm.get('senhaDoCaixa')?.touched"
                aviso="Confirmação de senha deve ser igual a original">
            </app-mensagem>
            </div>
        </div>
    </div>
    <div class="row mt2 text-center">
        <div class="col-md-4"></div>
          <div class="col-md-4 mt-2">
            <button class="btn btn-primary btn-block"> Cadastrar Conta </button>
        </div>
    </div>
</form>